{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
{% endblock stylesheets %}

{% block title %}Elodie's portfolio{% endblock title %}

{% block header %}
    <header id="header">
        {% if is_granted('ROLE_ADMIN') %}
            {% include ('AppBundle:headers:adminHeader.html.twig') %}
        {% elseif is_granted('ROLE_USER') %}
            {% include ('AppBundle:headers:userHeader.html.twig') %}
        {% else %}
            {% include ('AppBundle:headers:anonymHeader.html.twig') %}
        {% endif %}
    </header>
{% endblock header %}

{% block content %}
    <div class="container">
        {% block body %}<!-- Rest of the page here !-->{% endblock body %}
    </div>
{% endblock content %}

{% block footer %}
    <footer class="panel-footer text-center" id="footer">
        <div class="row">
            <br>
            <div class="col-4">
                Créé par Elodie Vianai
            </div>
            <div class="col-4">
                Portfolio - 2017
            </div>
            <div class="col-4">
                <a href="https://twitter.com/elodiev31" target="_blank">
                    <img src="{{ asset('images/logos/TwitterLogo.png') }}" alt="logo Twitter">
                </a>
                <a href="https://fr.linkedin.com/in/elodie-vianai" target="_blank">
                    <img src="{{ asset('images/logos/LinkedinLogo.png') }}" alt="logo Linkedin">
                </a>
                {#{% if 'user' in user.roles %}#}
                    {#<a href="user/contact">#}
                        {#<img src="{{ asset('images/logos/email.png') }}" alt="logo contact">#}
                    {#</a>#}
                {#{% elseif 'admin' in user.roles %}#}
                    {#<a href="admin/contact">#}
                        {#<img src="{{ asset('images/logos/email.png') }}" alt="logo contact">#}
                    {#</a>#}
                {#{% else %}#}
                    <a href="{{ path('contactPage') }}">
                        <img src="{{ asset('images/logos/email.png') }}" alt="logo contact">
                    </a>
                {#{% endif %}#}
            </div>
        </div>
    </footer>
{% endblock footer %}

{% block javascript %}<!-- JavaScript links here !-->{% endblock %}