{% extends '@App/layout.html.twig' %}

{% block title %}Modifier une compétence - {{ parent() }}{% endblock title %}

{% block body %}
    <h1 class="h1 margin-bottom-5 text-center">Modifier une compétence</h1>

    {{ form_start(form) }}

    <div class="row form-group">
        {{ form_label(form.name, 'Nom de la compétence', {'label_attr': {'class': 'col-form-label col-3'} }) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control col-9'} }) }}
    </div>

    <div class="row form-group">
        {{ form_label(form.level, 'Niveau de maîtrise', {'label_attr': {'class': 'col-form-label col-3'} }) }}
        {{ form_widget(form.level, {'attr': {'class': 'form-control col-3'} }) }}
        <div class="col-1"></div>
        {{ form_label(form.category, 'Catégorie', {'label_attr': {'class': 'col-form-label col-2'} }) }}
        {{ form_widget(form.category, {'attr': {'class': 'form-control col-3'} }) }}
    </div>

    <div class="row justify-content-start form-group ">
        {{ form_label(form.image.file, 'Logo de la compétence', {'label_attr': {'class': 'col-form-label col-3'} }) }}
        {{ form_widget(form.image.file, {'attr': {'class': 'form-control-file col-9'} }) }}
    </div>

    <div class="alert alert-info">
        <strong>Attention :</strong> cette compétence va être modifiée !
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-2">
            <a href="{{ path('crud-skills') }}" class="btn btn-danger">Annuler</a>
        </div>
        <div class="col-2">{{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}, 'label': 'Modifier' }) }}</div>
        <div class="col-4"></div>
    </div>

    {{ form_rest(form) }}

    {{ form_end(form) }}
{% endblock body %}