{% extends '@App/layout.html.twig' %}

{% block title %}Modifier une formation - {{ parent() }}{% endblock title %}

{% block body %}
    <h1 class="h1 margin-bottom-5 text-center">Modifier une formation</h1>

    {{ form_start(form) }}

    <div class="form-group margin-bottom-3">
        <div class="row form-group backgroundWA">
            <h4>La formation</h4>
        </div>

        <div class="form-group row">
            {{ form_label(form.name, 'Nom de la formation', {'label_attr': {'class': 'col-form-label col-2'} }) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control col-8'} }) }}
        </div>

        <div class="form-group row">
            {{ form_label(form.beginAt, 'Date de début', {'label_attr': {'class': 'col-form-label col-2'} }) }}
            {{ form_widget(form.beginAt, {'attr': {'class': 'col-2'} }) }}
            <div class="col-1"></div>
            {{ form_label(form.endAt, 'Date de fin', {'label_attr': {'class': 'col-form-label col-2'} }) }}
            {{ form_widget(form.endAt, {'attr': {'class': 'col-3'} }) }}
        </div>

        <div class="form-group row">
            {{ form_label(form.type, 'Type de formation', {'label_attr': {'class': 'col-form-label col-2'} }) }}
            {{ form_widget(form.type, {'attr': {'class': 'form-control col-2'} }) }}
            <div class="col-1"></div>
            {{ form_label(form.mention, 'Mention', {'label_attr': {'class': 'col-form-label col-2'} }) }}
            {{ form_widget(form.mention, {'attr': {'class': 'form-control col-3'} }) }}
        </div>
    </div>

    <div class="form-group margin-bottom-3">
        <div class="row form-group backgroundWA">
            <h4>Le lieu de la formation</h4>
        </div>

        <div class="form-group row">
            {{ form_label(form.institution, 'Établissement', {'label_attr': {'class': 'col-form-label col-2'} }) }}
            {{ form_widget(form.institution, {'attr': {'class': 'form-control col-8'} }) }}
        </div>


        <div class="form-group row">
            {{ form_label(form.city, 'Ville', {'label_attr': {'class': 'col-form-label col-2'} }) }}
            {{ form_widget(form.city, {'attr': {'class': 'form-control col-2'} }) }}
            <div class="col-1"></div>
            {{ form_label(form.department, 'Département', {'label_attr': {'class': 'col-form-label col-2'} }) }}
            {{ form_widget(form.department, {'attr': {'class': 'form-control col-3'} }) }}
        </div>
    </div>

    <div class="form-group margin-bottom-3">
        <div class="row form-group backgroundWA">
            <h4>Image</h4>
        </div>

        <div class="form-group row padding-top-3">
            {{ form_label(form.image.file, 'Logo de l\établissement', {'label_attr': {'class': 'col-form-label col-3'} }) }}
            {{ form_widget(form.image.file, {'attr': {'class': 'form-control-file col-4'} }) }}
        </div>
    </div>


    <div class="alert alert-info">
        <strong>Attention :</strong> Vous éditez une formation déjà existante.
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-2">
            <a href="{{ path('crud-trainings') }}" class="btn btn-danger">Annuler</a>
        </div>
        <div class="col-2">{{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}, 'label': 'Modifier' }) }}</div>
        <div class="col-4"></div>
    </div>

    {{ form_rest(form) }}

    {{ form_end(form) }}
{% endblock body %}