{% extends '@App/layout.html.twig' %}

{% block title %}Suppression d'un utilisateur - {{ parent() }}{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/forms.css') }}">
{% endblock stylesheets %}

{% block body %}

    {% if user.id == app.user.id %}
        <h1 class="h1 margin-bottom-5 text-center">Supprimer mon compte</h1>
        <div class="jumbotron jumbotron-fluid deleteForm">
                <p>Etes-vous certain de vouloir supprimer votre compte ?</p>
        {% else %}
            <h1 class="h1 margin-bottom-5 text-center">Supprimer un utilisateur</h1>
            <div class="jumbotron jumbotron-fluid deleteForm">
            <p>
                Etes-vous certain de vouloir supprimer l'utilisateur "{{ user.username }}" ?
            </p>
        {% endif %}
            <form action="{{ path('delete-user', {'id': user.id}) }}" method="post">
                <a href="{{ path('crud-users') }}" class="btn btn-secondary">
                    <img src="{{ asset('images/back.png') }}">
                </a>

                <button class="btn btn-danger">
                    <img src="{{ asset('images/delete-white.png') }}">
                </button>

                {# Generate the CSRF field #}
                {{ form_rest(form) }}
            </form>
        </div>
{% endblock body %}