{% trans_default_domain 'FOSUserBundle' %}

<h1 class="h1 margin-bottom-5 text-center">Modifier mon profil</h1>

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

    {{ form_errors(form) }}
    <div class="row margin-bottom-3">
        <div class="col-1"></div>
            {{ form_label(form.username, 'Nom d\'utilisateur :', {'label_attr': {'class': 'col-4'} }) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control col-6'} }) }}
    </div>

    <div class="row margin-bottom-3">
        <div class="col-1"></div>
        {{ form_label(form.email, 'Email :', {'label_attr': {'class': 'col-4'} }) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control col-6'} }) }}
    </div>

    <div class="row margin-bottom-5">
        <div class="col-1"></div>
        {{ form_label(form.current_password, 'Mot de passe actuel :', {'label_attr': {'class': 'col-4'} }) }}
        {{ form_widget(form.current_password, {'attr': {'class': 'form-control col-6'} }) }}
    </div>

    <div class="row margin-bottom-5">
        <div class="col-6"></div>
        <div class="col">
            <input type="submit" class="btn btn-success" value="Modifier" />
        </div>

    </div>
{{ form_rest(form) }}

    {{ form_end(form) }}

