{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Expériences - {{ parent() }}{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/experiences-page.css') }}">
{% endblock stylesheets %}

{% block body %}
    <div class="row justify-content-center padding-bottom-3">
        <h1 class="h1 text-center">Mes expériences</h1>
    </div>

    <div class="row">
        <h2 class="h2 padding-bottom-3">Expériences professionnelles</h2>
    </div>
    <div class="row padding-bottom-3">
        <table class="table table-border">
            <thead class="thead-default">
            <tr>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Durée</th>
                <th>Poste occupé</th>
                <th>Contrat</th>
                <th>Entreprise</th>
                <th>Ville</th>
                <th>Logo</th>
            </tr>
            </thead>
            <tbody>
            {% for experience in experiences %}
                <tr>
                    <td scope="row">{{ experience.0.beginAt | date('M-Y') }}</td>
                    <td>{{ experience.0.endAt | date('M-Y') }}</td>
                    <td>
                        {% if experience.1['diffYears'] == 0 %}
                            {% if experience.1['diffMonths'] == 0 %}
                                {{ experience.1['diffDays'] | abs }} jours
                            {% else %}
                                {{ experience.1['diffMonths'] | abs }} mois
                            {% endif %}
                        {% else %}
                            {% if experience.1['diffYears'] == 1 %}
                                {{ experience.1['diffYears'] | abs }} an
                                {% if experience.1['diffMonths'] != 0 %}
                                    et {{ experience.1['diffMonths'] | abs }} mois
                                {% endif %}
                            {% else %}
                                {{ experience.1['diffYears'] | abs }} ans
                                {% if experience.1['diffMonths'] != 0 %}
                                    et {{ experience.1['diffMonths'] | abs }} mois
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ experience.0.name }}</td>
                    <td>{{ experience.0.contract }}</td>
                    <td>{{ experience.0.company }}</td>
                    <td>{{ experience.0.city }} ({{ experience.0.department.code }})</td>
                    <td><img src="{{ asset('images/'~experience.0.image.url) }}" class="logos text-center" alt="{{ experience.0.image.alt }}"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="row">
        <h2 class="h2 padding-bottom-3">Projets réalisés</h2>
    </div>

    <div class="row">
        {% for project in projects %}
            <!-- NEW CARD !-->
            <div class="card col-3">
                <div class="thumbnail text-center">
                    {% if project.image is empty or null %}
                        <img src="{{ asset('images/noImage-2.png') }}" class="logos" alt="Logo de l'établissement">
                    {% else %}
                        <img class="card-img-top" src="{{ asset('images/'~project.image.url) }}" alt="{{ project.image.alt }}">
                    {% endif %}
                </div>
                <div class="card-block">
                    <h4 class="card-title">{{ project.name }}</h4>
                    <p class="card-text text-justify">{{ project.description}}</p>
                    <a href="{{ path('projectDetail', {'id': project.id}) }}" class="btn btn-primary">Plus de détails</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock body %}