{% extends '@App/layout.html.twig' %}

{% block title %}Modifier un projet - {{ parent() }}{% endblock title %}

{% block body %}
    <h1 class="h1 margin-bottom-5 text-center">Modifier un projet</h1>

    {{ form_start(form) }}


    <div class="form-group padding-bottom-3">
        <div class="row form-group backgroundWA">
            <h3>Présentation du projet</h3>
        </div>
        <div class="row form-group">
            {{ form_label(form.name, 'Nom du projet', {'label_attr': {'class': 'col-form-label col-2'} }) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control col-4'} }) }}
            <div class="col-1"></div>
            {{ form_label(form.year, 'Date de réalisation du projet', {'label_attr': {'class': 'col-form-label col-3'} }) }}
            {{ form_widget(form.year, {'attr': {'class': 'form-control col-2'} }) }}
        </div>
        <div class="row">
            {{ form_label(form.image.file, 'Screenshot du projet', {'label_attr': {'class': 'col-form-label col-3'} }) }}
            {{ form_widget(form.image.file, {'label_attr': {'class': 'form-control-file col'} }) }}
        </div>
    </div>

    <div class="form-group padding-bottom-3">
        <div class="row form-group backgroundWA">
            <h3>Description du projet</h3>
        </div>
        <div class="row form-group">
            {{ form_label(form.description, 'Description', {'label_attr': {'class': 'col-form-label col-2'} }) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control col-10'} }) }}
        </div>
    </div>

    <div class="form-group padding-bottom-3">
        <div class="row form-group backgroundWA">
            <h3>Technologies utilisées pour ce projet</h3>
        </div>
        <div class="row form-group">
            {{ form_label(form.skills, 'Technologies utilisées pour ce projet', {'label_attr': {'class': 'col-form-label col-3'} }) }}
            {{ form_widget(form.skills, {'attr': {'class': 'form-control col-9'} }) }}
            <br>
            <p id="aideAjout" class="form-text text-muted">Pour sélectionner plusieurs technologies, maintenez la touche CTRL enfoncée</p>
        </div>
    </div>

    <div class="form-group padding-bottom-3">
        <div class="row form-group backgroundWA">
            <h3>Expérience liée à ce projet</h3>
        </div>
        <div class="row form-group">
            {{ form_label(form.experience, 'Expérience', {'label_attr': {'class': 'col-form-label col-3'} }) }}
            {{ form_widget(form.experience, {'attr': {'class': 'form-control col-9'} }) }}
        </div>
    </div>

    <div class="alert alert-info">
        <strong>Attention :</strong> ce projet va être modifié !
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-2">
            <a href="{{ path('crud-projects') }}" class="btn btn-danger">Annuler</a>
        </div>
        <div class="col-2">{{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}, 'label': 'Modifier' }) }}</div>
        <div class="col-4"></div>
    </div>

    {{ form_rest(form) }}

    {{ form_end(form) }}
{% endblock body %}